body {
  font-family: 'Lato', sans-serif;
  background: white;
}

.main-header {
  height: 528px;
  background: #fff url('../img/DowntownLouisville1500x528.jpg') no-repeat center;
  background-size: contain;
  background-position-y: 155%;
}

.nav {
  margin-top: 50px;
  font-size: 14px;
}

a:link {
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

a:hover, a:focus {
    color: #86592d;
    background: #000;
}

a {
    color: #000;
    font-weight:bold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;;
}

#section {
    margin-right: 25px;
    margin-left: 25px;
}

h1 {
  color: #86592d;
}

.item {
	color: #fff;
	padding: 15px;
	margin: 5px;
	background: #86592d;
	border-radius: 3px;
}

#footer {
  font-size: 11px;
  font-style: italic;
  padding-left: 25px;
  padding-top: 20px;
  width: 1200px;
}
